.forgetpassword a{
  color: red;
}
.forgetpassword a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.close-style {
  text-align: right;
}
.close-style :hover{
  text-align: right;
  cursor: pointer;
}
