<!-- 第一行 -->
<div class="areaOne">
  <!-- LOGO -->
  <div class="areaOne-logo-img">
    <img src=".\assets\images\esunLogo.png">
  </div>
  <div class="areaOne-logo-text">E.SUN</div>
  <!-- USER -->
  <span class="areaOne-align-right20">
    <img src=".\assets\images\user-16.png">
    <a class="user-detail">Hi, 王一飛(DS, DSM)</a>
  </span>
  <!-- LOGIN -->
  <span class="areaOne-align-right5">
    <img src=".\assets\images\login-16.png">
    <a class="login-logout">登入</a>
  </span>
  <!-- LOGOUT -->
  <!-- <span class="areaOne-align-right5">
    <img src=".\assets\images\logout-16.png"><a class="login-logout">登出</a>
  </span> -->
</div>
<!-- 第二行 -->
<div class="areaTwo">
  <div>
    <!-- 麵包屑路徑  Breadcrumb-->
    <div class="breadcrumb-One">Home</div>
    <div class="breadcrumb-slash">/</div>
    <div class="breadcrumb-One">路徑一</div>
    <div class="breadcrumb-slash">/</div>
    <div class="breadcrumb-Two">路徑二</div>
    <!-- 功能列的第一層 -->
    <!-- icons -->
    <div class="area-two-icons" *ngFor="let image of iconsImage;let idx = index"
      [ngStyle]="{'right': getPosition(idx)+'%'}">
      <img src='{{image.imagesrc}}' title="{{image.imageTitle}}" (click)="levelOneClick(image.value)">
    </div>
  </div>
</div>
<!-- 第三行 -->
<!-- 功能列的第二層 -->
<nav mat-tab-nav-bar mat-align-tabs="end" animationDuration="0ms">
  <!-- tab裡面增加下拉選單 失敗 -->
  <!-- <mat-tab *ngFor="let tab of navLinks">
      <ng-template mat-tab-label>
        <a *ngIf="tab.menu">
          <a mat-tab-link [matMenuTriggerFor]="menu"  (click)="$event.stopPropagation();" [routerLink]="['/admin/']"
            routerLinkActive #m="routerLinkActive" [active]="m.isActive"
            [ngStyle]="{'color': changeColor(m.isActive)}">{{tab.title}}22222
          </a>
        </a>
        <a *ngIf="!tab.menu">
          <a mat-tab-link [routerLink]="['/admin/'+tab.path]"
           routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
             [ngStyle]="{'color': changeColor(rla.isActive)}">{{tab.title}}
          </a>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let tab2 of tab.menu">
            <a mat-tab-link [routerLink]="['/admin/'+tab2.path]"
            routerLinkActive #cli="routerLinkActive" [active]="cli.isActive">
              {{tab2.title}}
            </a>
          </button>
        </mat-menu>
      </ng-template>
    </mat-tab>-->
  <mat-tab-group style="height: 8.5%;">
    <mat-tab *ngFor="let tab of navLinks">
      <ng-template mat-tab-label>
        <a mat-tab-link [routerLink]="['/admin/'+tab.path]" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive" [ngStyle]="{'color': changeColor(rla.isActive)}">{{tab.title}}
        </a>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</nav>
<router-outlet></router-outlet>
