<div class="areaOne">
  <!-- LOGO -->
  <div class="areaOne-logo-img">
    <img src=".\assets\images\esunLogo.png">
    <!-- <a>E.SUN</a> -->
  </div>
  <div class="areaOne-logo-text">E.SUN</div>
  <!-- USER -->
  <span class="areaOne-align-right20">
    <img src=".\assets\images\user-16.png"><a class="user-detail">Hi, 王一飛(DS, DSM)</a>
  </span>
  <!-- LOGIN -->
  <span class="areaOne-align-right5">
    <img src=".\assets\images\login-16.png"><a class="login-logout">登入</a>
  </span>
  <!-- LOGOUT -->
  <!-- <span class="areaOne-align-right5">
    <img src=".\assets\images\logout-16.png"><a class="login-logout">登出</a>
  </span> -->
</div>
