*{
  margin: 0px;
  padding: 0px;
}

.areaOne{
  background-color: #16BA99;
  max-height: 10%;
}

.areaOne-logo-img{
  display: inline-block;
  padding: 4px;
  // background-color: yellow;
}

.areaOne img{
  max-height: 35px;
}

.areaOne-logo-text{
  font-size: 26px;
  color: white;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  // background-color: yellowgreen;
}

.areaOne-align-right20{
  position: absolute;
  right: 20%;
  padding: 14px;
  // background-color: grey
}

.areaOne-align-right5{
  position: absolute;
  right: 5%;
  padding: 14px;
  // background-color: grey
}
.areaOne-align-right5:hover{
  cursor: pointer;
  transform:scale(1.3);
}
.areaOne-align-right5 .login-logout{
  color: white;
}


.user-detail{
  color: white;
  // background-color: grey
}

.areaTwo{
  background-color: #4A4A4A;
  // max-height: 10%;
  min-height: 8%;
}

.breadcrumb-One{
  color: white;
  padding: 4.5px;
  line-height:30px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 9px;
  // background-color: antiquewhite;
}

.breadcrumb-Two{
  color: #16BA99;
  padding: 4.5px;
  line-height:30px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 9px;
  // background-color: yellowgreen;
}

.breadcrumb-slash{
  color: white;
  padding: 2px;
  line-height:35px;
  display: inline-block;
  vertical-align: bottom;
  // background-color: rgb(106, 136, 47);
}

.areaTwo img{
  max-height: 30px;
  // position: absolute;
  // right: 25%;
}

.area-two-icons{
  position: absolute;
  padding: 8px;
  line-height:35px;
  display: inline-block;
  vertical-align: bottom;
  // padding:7.5px;
}
.area-two-icons:hover{
  background-color:  #808080;
}

// 底線樣式 不能刪除
::ng-deep .mat-ink-bar {
  background-color:white !important;
}
::ng-deep .mat-tab-group  .mat-ink-bar {
  background-color:#16BA99 !important;
}
