.close-password-style{
  float: right;
}
.close-password-style:hover{
  cursor: pointer;
  }

.back-login-style{
  float: left;
 }
 .back-login-style:hover{
  cursor: pointer;
 }


.two-icons-style{
  padding: 0px 0px
 }
